<header>
    <nav>
        <img src="/angularTemplate/src/assets/images/SleekLogo-white transparent -140x70-Tiny.png" alt="Logo">
        <div>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a href="#About">About</a>
            <a href="#Service">Services</a>
            <a href="#Projects">Projects</a>
            <a href="#Testimonials">Testimonials</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </nav>
</header>